
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    color: rgb(0, 0, 0);
    padding: 15px 20px;
  }
  

  .logo {
    font-size: 20px;
    font-weight: bold;
  }
  

  .menu {
    display: flex;
    gap: 20px;
  }
  
  .menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
  }
  
  .menu a:hover {
    color: #00ff11;
  }
  

  .hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }
  

  @media screen and (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background: #222;
      width: 100%;
      text-align: center;
      padding: 10px 0;
      z-index: 1000;
    }
  
    .menu.open {
      display: flex;
    }
  
    .hamburger {
      display: block;
    }
  }
  