/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); */
*{
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
  /* padding: 0; */
  /* margin: 0; */
 
}
.BabaWealth{
    
  padding: 0;
  margin: 0;
 
}
.Tge-bar{
    margin: 20px !important;
    z-index:11110;
}
.thewealthsd{
    z-index: 0;
}
.BabaWealth434{
    background-image: url(../public/images/roofs.jpg) !important;
    background-repeat: no-repeat; 
     background-size:cover;
     background-position: center;
     height:90vh;
     margin:20px;
     padding: 0;
}
.themHeadsisi{
    display: none !important;
}
.HeadONe{
    border-radius: 50px;
    z-index: 10000;
    top:-90px;
    margin:'100px';
    position: relative;
    /* left:60px; */
    margin-bottom: 90px;
}
.HeadONe p{
    margin-bottom: 30px;
    margin: 80px 50px;
     color:#dcf3a2;
     font-size:29px;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
      text-align: left !important;
}
.HeadONe h1{
   font-size:120px;
   margin-bottom:70px;
   margin:120px 50px;
   position: relative;
   top: 80px;
   /* background-color: rgba(255, 255, 255, 0.514); */
   color:#FFFACD;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.HeadONe button{
    padding: 15px 60px;
    font-weight:700 !important;
    font-size: 14px;
    color: rgb(255, 255, 255);
    /* border: 2px solid rgba(0, 0, 0, 0.783) !important; */
    /* background: none !important; */
    background-color:#d7ce1efc;
    box-shadow: 0 10px 20px black;
    opacity: 0.9;
    border: none;
    font-weight:700;
    border-radius: 120px;
    position: relative;
    left: 50px;
    transition: .2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.HeadONe button:hover{
    /* background-color: #dcf3a2; */
    /* color: black; */
}

/* .HeadTWo{
    margin-bottom:40px !important;
    margin: 0px 50px;
    display: flex;
    justify-content: space-around;
    border: green 2px solid;
    border-radius: 10px;
}
.HeadTWo h3{
    font-size: 30px;
    color: rgb(39, 213, 39);
}
.HeadTWo p{
    font-weight: 700;
} */


/* The Second Phase */
.AprtTypes{
    margin:50px;
}
 .AprtTypes h3,p{
    text-align: center;
 }
 .Aprtsub-2 p{
    font-size:40px;
 }
 .Aprtsub2{
     background-color:rgb(2, 2, 34);
    /* opacity: 0.6; */
     padding: 150px 20px;
  
     border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    color: white;
  box-shadow:rgba(0, 0, 0, 0.516) 0px 10px 35px 1px;
    
 }
 .Aprtsub2-111{
    background-color:rgb(2, 2, 34);
    border: 0.3px rgb(255, 255, 255) solid;
    padding: 40px;
    border-radius: 20px;
    transition: .2s ease-in-out;
   
 }
 .Aprtsub2-111:hover{
     box-shadow: 0 5px 40px green;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
     
 }

.Asub22-min2{
    position: relative;
    /* left:30px; */
    font-size: 40px;
    border: 0.3px rgb(232, 232, 232) solid;
    padding: 25px 50px;
    border-radius: 20px;
    
}

.HeadThree{
    padding: 80px;
   
}
.HeadThree-sub1{
    text-align: center;
}
.HeadThree-sub1 h3{
    font-size: 45px;

}
.HeadThree-sub2{
    display: flex;
    flex-direction:column ;
}
.htyhtih{
    flex-direction: row !important;

}
.subsosubsss{
    position: relative;
    left:30px;
    border-radius:30px  !important;
    box-shadow: none !important;
    border: none !important;
    background-color: rgba(230, 228, 228, 0.429) !important;
}
.subsosubsss img{
    max-width:380px !important;
    height: 40vh !important;
}
/* .thheheadsss{
     background-color: #dcf3a2;
   
} */
.HeadThree-sub2 img{
    max-width:250px;
    min-height:30vh;
    border-radius: 10px;
    box-shadow:rgba(0, 0, 0, 0.516) 0px 10px 35px 1px inset;
}
.HeadThree-sub2-sub1{
    background: white;
    border:1px solid rgb(49, 181, 49);
    margin:0px 25px;
    box-shadow:rgba(0, 0, 0, 0.195) 3px 1px 15px 1px inset;
    padding:25px;
    border-radius:10px;
    color: rgb(0, 0, 0);
    
}

/* ß
    background:linear-gradient(#1c34e8,#1dc138);
    color: white;
} */

.HeadThree-sub2-sub1 h4:hover{
    transition: .6s;
    cursor: pointer;
    /* color: rgb(255, 255, 255); */
}
.threeheads22 .iccon{
    position: relative;
    top:15px;
}
.threeheads22{
    display: flex;
    justify-content: space-between;
    margin:1px;
}

.thehouse2{
    position: relative;
    top: -80px;
    left: 50px;
}

.GHoli{
    position: relative;
    left:-40px;
}
.GHoli h2{
    font-size:50px;
}
.Holi li{
    margin-top: 10px;
    margin-bottom: 60px;
    font-size: 25px;
}
.PropSell{
    display: flex;
    gap: 55%;
    margin: 40px;
}
.PropSell h2{
    font-size: 40px;
}
.PropSell p{
    position: relative;
    top: 20px;
    font-size: 20px;
}
.PropSell p:hover{
    cursor: pointer;
    color: rgb(1, 212, 1);
    font-weight: 700;
}
.mamaapaerte{
    /* margin: 0 50px; */
    display: flex;
    justify-content: space-around;
}
.apertmentsredire{
    display: flex !important;
    gap: 15px;
    
}
.apertmentsredire h4{
    position: relative;
    top:-20px;
}
.minitb{
    /* gap:40px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    position: relative;
    left:6em;

}
.minitb h2{
    text-align: left;
    /* margin-left:80px; */

}
.minifirsttb{

    text-align: left !important;
    margin: 20px;
    /* margin-top: 40px; */
}
.TopGaimer{
    position: relative;
    top:20px;
    margin: 40px 10px;
}
.headtb{
    text-wrap:wrap;
    margin:90px 23px;
    text-align: center;
}
.firstoffirsttb{
    /* border:1px solid rgba(0, 0, 0, 0.475) ; */
    box-shadow: 0 3px 18px rgba(0,0,0,0.2) inset;
    border-radius:20px;
}
.firstoffirsttb2{
    /* border:1px solid rgba(0, 0, 0, 0.414) ; */
    box-shadow: 0 3px 18px rgba(0,0,0,0.2) inset;
    border-radius:15px;
}

.firstoffirsttb p{
    color: green;
    font-weight: 600;
    margin:40px ;
    background-color: rgba(0, 128, 0, 0.359);
    max-width:30%;
    position:relative;
    left: 80px;
    border-radius:20px;
    padding:10px 0;
}

.firstoffirsttb2 p{
    color: rgb(213, 38, 38);
    font-weight: 700;
    margin:40px 0;
    background-color: rgba(255, 0, 0, 0.428);
    max-width:30%;
    position:relative;
    left: 80px;
    border-radius:20px;
    padding:10px 0;    
}
.ehadione{
    background-color: rgba(211, 211, 211, 0.552);
    display: flex;
    gap: 40px;
    margin-bottom:50px ;
    box-shadow:rgba(137, 136, 136, 0.516) 0px 10px 45px 1px;
    border-radius: 30px;
    width: 60%;
    padding: 60px;
}

.firstphaseimg{
     position: relative;
    left: 260px;
}
.firstphase{
    position: relative;
    left: 200px;
}
.ediitrerf{
    position: relative;
    left: 30%;
}
/* style for the form */
.thhemforms-main{
    background-image: url(../public/images/globepic.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    color: white;
    margin-bottom: 50px;
    margin: 15px;
    /* position: relative;
    left: 1% !important; */
   
}
.basicform{
    position: absolute;
    left: 60px;
    padding-top: 40px;
}
/* .thhemforms-main{
    position: relative;
    left: 80px;
} */
.thhemforms p{
    font-size: 50px;
    font-weight: 600;
    text-align: left;
}
.thhemforms h3{
    position:relative;
    top: 40px;
}
.basicform{
    position: relative;
}
.formsub33{
    border-radius: 40px;
    border: none;
    font-size: 15px;
    margin: 90px 0;
    /* align-items: left; */
    position: relative;
    left:-530px;
    top:-60px;
    transition: 0.9s ease-in-out;
    cursor: pointer;
}
.formsub33:hover{
    border: green 4px solid;
    color: white;
    background-color: rgb(8, 36, 5);

}
/* Styling for the footer */
footer{
    margin: 120px;
   
    
    
}
.ThemFoots{
    color: white;
     background-color: rgba(16, 57, 24, 0.913);
     padding: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    left: -10px;
}
.thhenicons{
    text-align: center;
    position: relative;
    top: -1px;
    background-color: white;
    color: black;
    border-radius: 50%;
    padding: 15px;
}
.beforeic{
    border: 2px solid rgba(255, 255, 255,0.7);
    /* opacity: 0.8; */
    border-radius:50%;
    padding: 12px;
    position: relative;
    top:-2px;
}
.subthemfoots{
    gap: 20px;
    display: flex;
    align-items:start !important;
    text-align: left !important;
}
.subthemfoots p{
    font-size: 14px;
    opacity: 0.8;
    position:relative;
    top:12px;
     align-items:start !important;
    text-align: left !important;
}
/* the last part of the footer */
.ThemFoots2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 120px 0;
    position: relative;
    left: 50px;
    gap: 150px;
    
}
.ThemFoots2 h3{
    font-size: 30px;
    font-weight: 600;
}
.ThemFoots2 p{
    text-align: left !important;
    align-items: start !important;
}

.minipics2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    
}
.minipics2 img{
   width:130% !important;
    /* margin: 15px; */
    margin-bottom: 0px;
    border-radius: 10px;
    box-shadow:rgba(0, 0, 0, 0.516) 0px 10px 35px 1px;
  
}

.main-figimgs p{
    position: relative;
    top:10px;
}
.Fimages img{
    width:30px;
    position: relative;
    top:-40px;
    left:90px;
    margin: 4px;

}
.Discop p{
    margin: 25px 0;
}
.Discop p:hover{
    color: green;
    font-weight:800;
    cursor: pointer;
}
.lastfoot{
    display: flex;
    justify-content: space-between;
   
}
.minlastfoot{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
@media (min-width:250px) and (max-width:800px){
    .themHeadsisi{
        display: block !important;
    }
    .HeadONe h1{
        font-size:67px;
        width: 14%;
        /* line-height:0.12; */
        /* text-wrap:nowrap; */
        position: relative;
        left:-25px;
    }
    .HeadONe p{
        font-size:15px;
        width:93%;
        /* text-wrap: nowrap; */
        position: relative;
        left:-40px;
    }
   .HeadONe button{
        font-size: 10px;
        text-wrap: nowrap;
        border-radius: 15px;
        max-width:90% ;
        padding:10px 50px;
    }
    .ininininninehads{
       display: grid !important;
       grid-template-columns: repeat(2,1fr);
       position: relative;
       left: -40px;
    }
    .Aprtsub2{
        display: flex !important;
        flex-direction: column !important;
       
    }
     .Aprtsub2-111{
        margin-bottom: 20px;
        border: 3px solid rgb(255, 255, 255) !important;
     }
     .Asub22-min2{
            border: 3px solid rgb(255, 255, 255) !important;
     }

      .Aprtsub2{
        background-color: #fff;
      }
     
      .ehadione{
       background-color: rgba(241, 241, 241, 0.64);
        flex-direction: column;
        margin:140px 80px;
        width:100%;
        position: relative;
        left: -145px;
        box-shadow: none;
        
        transition: .2s ease-in-out !important;
        
        /* text-align: left; */
      }
      .ehadione img{
        width: 140% !important;
        position: relative;
        left: -20px;
      }
      /* .ehadione:hover{
        background:linear-gradient(rgba(0, 255, 51, 0.761), rgba(0, 0, 255, 0.72));
        color: white;
      } */

      .firstphase:hover{
         font-weight:900 !important;
      }
      .firstphase{
        position: relative;
        left: -25px;
      }
      .giigii{
        display: none !important;
      }


      .subsosubsss{
        margin-bottom:80px;
        position: relative;
        left: -10px;
      }
      .subsosubsss img{
        width: 105% !important;
        position: relative;
        left: -8px;
      }
}
@media screen and  (width<=750px){
    .HeadThree-sub2{
        flex-direction:column  !important;
    }
}